<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSTEL ALLOTMENT</title>

    <!-- INDEX.CSS SHEET -->

    <link rel="stylesheet" href="../css/index.css">

    <!-- Bootstrap links 2 -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- JQUERY LINK -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- JAVASCRIPT -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- ANGULAR JS -->

    <script src="../angular/angular.min.js"></script>

    <!-- WAYPOINT -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- ANIMATE.CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"/>

    <!-- FONT AWESOME -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>

        // /////////////////////////////////////////////////////////////////   ANGULAR
        var pendingModule = angular.module("pendingModule",[]);

        pendingModule.controller("pendingController",function($scope,$http){
            $scope.x = "working";

            // /////////////////////////////////////////////////////////////////    GET ACTIVEUSER
            $scope.activeUser = localStorage.getItem("activeUser");

            // /////////////////////////////////////////////////////////////////    HTTP TO SERVER TO GET DATA OF MANAGER WHO IS ACTIVEUSER
            $http.get("/managerPending?email="+$scope.activeUser).then(success, fail);
            function success(response)
            {
                $scope.JSONmanager=response.data;
                // /////////////////////////////////////////////////////////////////    HEADING REQUIREMENTS - HOSTEL NO
                $("#hostelNo").html($scope.JSONmanager[0].hostel);
                
                // /////////////////////////////////////////////////////////////////    HTTP TO SERVER TO GET DATA OF REQUIRED HOSTEL
                $http.get("/allotedHostel?hostel="+$scope.JSONmanager[0].hostel).then(success,fail);
                function success(response)
                {
                    $scope.JSONrequests=response.data;

                    // /////////////////////////////////////////////////////////////////    PAID BUTTON
                    $scope.doMove=function(email, index)
                    {
                        if(confirm("Sure "+email+" is eligible for next hostel?")==false)
                        return;
                        
                        // /////////////////////////////////////////////////////////////////    HTTP TO SERVER FOR ACTION ON MOVE TO NEXT HOSTEL
                        $http.get("/doMove?email="+email+"&contact="+$scope.JSONrequests[index].contact+"&rollNo="+$scope.JSONrequests[index].rollNo+"&gender="+$scope.JSONrequests[index].gender+"&branch="+$scope.JSONrequests[index].branch+"&year="+$scope.JSONrequests[index].year+"&name="+$scope.JSONrequests[index].name+"&father="+$scope.JSONrequests[index].father+"&parentContact="+$scope.JSONrequests[index].parentContact+"&picture="+$scope.JSONrequests[index].picture+"&address="+$scope.JSONrequests[index].address+"&pin="+$scope.JSONrequests[index].pin+"&category="+$scope.JSONrequests[index].category+"&profileStatus="+$scope.JSONrequests[index].profileStatus).then(success1, fail1);
                        function success1(response)
                        {
                            $scope.forPageReload();
                        }
                        function fail1(response)
                        {
                            alert("error");
                            alert(response.data);
                        }   
                        $scope.forPageReload();
                    }

                }
                function fail(response)
                {
                    alert(response.data);
                } 
 
            }
            function fail(response)
            {
                alert(response.data);
            } 

            // /////////////////////////////////////////////////////////////////    PAGE RELOAD
            $scope.forPageReload=function()
            {
                $http.get("/managerPending?email="+$scope.activeUser).then(success, fail);
            }

            // /////////////////////////////////////////////////////////////////    LOG OUT BUTTON
            $scope.doLogOut=function()
            {
                localStorage.removeItem("activeUser");
                window.location.replace("../index.html");
            }

            // /////////////////////////////////////////////////////////////////    NO ACTIVE USER
            if($scope.activeUser == null)
            window.location.replace("../index.html");

            // /////////////////////////////////////////////////////////////////    FOOTER SECTION
            $(".footer").load("../common/footer.html");
        })

    </script>

</head>
<body ng-app="pendingModule" ng-controller="pendingController" ng-init="forPageReload();">
    
    <!-- ///////////////////////////                NAVBAR -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
    
            <!-- LOGO -->
            <a class="navbar-brand row">
                <div class="col" style="display: flex; justify-content: center; align-items: center;">
                    <span>
                        <img src="../pics/mrsptulogo.png" alt="Bootstrap" class="uniimg" width="50" height="50" style="margin-left: 1vw;">
                    </span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span id="unispan1">
                                MAHARAJA RANJIT SINGH PUNJAB TECHNICAL UNIVERSITY, BATHINDA 
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="unispan">
                                HOSTLERS FEE STATUS
                            </span>
                        </div>
                    </div>
                </div>
            </a>

            <!-- BUTTONS IN NVABR -->
            <form class="d-flex"> 
                <a href="#" class="btn btn-outline-success" style="margin: 1vw;" ng-click="doLogOut();">
                    LOGOUT
                </a>
            </form>
    
        </div>
    </nav>

    <!-- ///////////////////////////                MAIN SECTION -->
    <div class="sectionBackground">

        <!-- ///////////////////////////                HEADING -->
        <div class="container-fluid bg-body-tertiary rounded shadow heading">
            <span class="headingSpan">
                MESS BILL STATUS FOR <span id="hostelNo"></span> HOSTEL OF WHOLE SESSION
            </span>
        </div>

        <!-- ///////////////////////////                TABLE 1 -->
        <div class="row" style="padding: 2vw;">
            <div class="col tab bg-body-tertiary rounded">

                <div class="table-responsive">
                    <table class="table table-bordered border-dark">

                        <thead>
                        <tr>
                                <th>#</th>
                                <th>Picture</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Contact Number</th>
                                <th>Roll no</th>
                                <th>Year</th>
                                <th>Fee status of 1st half</th>
                                <th>Fee status of 2nd half</th>
                                <th>Mess Status</th>
                                <th>Action 1</th>
                                <th>Action 2</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="obj in JSONrequests">
                                <td>{{$index+1}}</td>
                                <td><img src="../uploads/{{obj.picture}}" alt="" width="60px" height="60px"></td>
                                <td>{{obj.email}}</td>
                                <td>{{obj.name}}</td>
                                <td>{{obj.contact}}</td>
                                <td>{{obj.rollNo}}</td>
                                <td>{{obj.year}}</td>
                                <td>{{obj.feeStatus1st}}</td>
                                <td>{{obj.feeStatus2nd}}</td>
                                <td>{{obj.messStatus}}</td>
                                <td>
                                    <input type="button" value="MOVE TO NEXT" class="btn btn-success" ng-click="doMove(obj.email, $index);">
                                </td>
                                <td>
                                    <input type="button" value="DELETE" class="btn btn-success" ng-click="doDelete(obj.email);">
                                </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                
                                    
                                
            </div>
        </div>

    </div>

    <!-- ///////////////////////////                FOOTER SECTION -->
    <div class="footer">

    </div>

</body>
</html>